Flask==3.0.3
Werkzeug==3.0.6
Jinja2==3.1.6
click==8.1.8
itsdangerous==2.2.0
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-Migrate==4.0.5
SQLAlchemy==2.0.45
greenlet==3.1.1
psycopg2==2.9.9  # Use pure Python version
gunicorn==23.0.0
python-dotenv==1.0.1
